# 阿里云百炼
QWEN_API_KEY=
QWEN_BASE_URL=https://llm-fazbhtxxim0fqh5e.cn-beijing.maas.aliyuncs.com/compatible-mode/v1
QWEN_VL_MODEL=qwen3.5-ocr

# 百川智能
BAICHUAN_API_KEY=
BAICHUAN_BASE_URL=https://api.baichuan-ai.com/v1
BAICHUAN_MODEL=Baichuan-M3-Plus

PORT=8787
